<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!--Css for page heading-->
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-1 g-2">BOOK LIST</span>
    </div>

    <div m-1 p-1>
        @RenderBody()
    </div>
</body>
</html>
