@page
@model Bookstore.Pages.PurchaseConfirmationsModel
@{
}

<!--Confirmation page-->

<div class="text-center">
    <h2>Thank you! Your purchase is being processed.</h2>

    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>