@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel 

<h1>Book List</h1>

<!--Loop through the books on each page and display the book info-->
@foreach (Book b in Model.Books)
{
    //Direct to the partial view page and pass in the model 'b'
    <partial name="BookList" model="b" />
}

<div page-info="@Model.PageInfo" page-action="Index" page-class="btn" classes-enabled="true" 
     class-normal="btn-outline-dark" class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>