<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!--Css for page heading-->
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 navbar-brand">
                    BOOK LIST
                    <!--Connects to CartSummary View-->
                    <div class="col-6 float-right">
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1 p-1">

        <!--Left column-->
        <div id="categories" class="col-3">
            <vc:categories></vc:categories>  <!--Connect to the CategoriesViewComponent-->
        </div>

        <!--Body text will take up 3/4 of the page-->
        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
