<!--Inherits from parent layout class-->
@inherits LayoutComponentBase

<!--Header-->
<div clss="bg-info text-white p-2">

    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <span class="navbar-brand m-lg-2">Bookstore Administration</span>
            </div>

            <!--Logout Button-->
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-primary" href="/account/logout">Log Out</a>
            </div>

        </div>
    </div>

</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">
            <div class="d-grid gap-2">
                <!--Nav links rather than a tags-->
                <NavLink class="btn btn-outline-primary" href="/admin/books"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
                <NavLink class="btn btn-outline-primary" href="/admin/shipping"
                         ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Shipping</NavLink>
            </div>
        </div>

        <!--This is where the body text will go-->
        <div class="col">
            @Body
        </div>

    </div>


</div>